/* base: https://github.com/victordantasdev/waybar */

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 2px;
  background: #101010;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 1px 8px;
  border: none;
  border-top: solid 1px transparent;
}

#workspaces button.active {
  color: #101010;
  background-color: #99d1db;
  border-radius: 5px;
}

button {
  background: transparent;
}

#workspaces button:hover {
  border-top: 1px solid transparent;
}

#submap {
  background-color: #f2d90a;
  color: #101010;
  padding: 2px 10px;
  margin: 2px 4px 2px 2px;
  border-radius: 5px;
  font-weight: bold;
}

#window,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
  background-color: #101010;
  padding: 0.5rem 1rem;
  margin: 2px 0;
  border-radius: 0;
}

#clock {
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
}

#window,
#custom-music,
#clock,
#custom-lock {
  border-radius: 5px;
}
#tray {
  border-radius: 0px 5px 5px 0px;
}
#pulseaudio {
  border-radius: 5px 0px 0px 5px;
}
#battery {
  color: #a6d189;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#backlight {
  color: #e5c890;
}

#pulseaudio {
  color: #ea999c;
}

#custom-docker {
  color: #85c1dc;
}

#custom-music {
  color: #ca9ee6;
  border-radius: 5px;
}

#custom-lock {
  color: #babbf1;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 5px 5px 0px;
  color: #e78284;
}

#custom-docker.docker {
  color: #85c1dc;
}

#custom-docker.docker-none {
  color: #737994;
}

#custom-docker.docker-error {
  color: #e78284;
}

#custom-weather.clear {
  color: #e5c890; /* Sunny yellow */
}

#custom-weather.cloud {
  color: #99d1db; /* Light blue */
}

#custom-weather.rain {
  color: #8caaee; /* Blue */
}

#custom-weather.snow {
  color: #c6d0f5; /* White-ish */
}

#custom-weather.thunder {
  color: #ca9ee6; /* Purple */
}

#custom-weather.fog {
  color: #b0b4bc; /* Gray */
}

#custom-weather.error {
  color: #e78284; /* Red */
}
